<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Add class</strong>
            <small>Form</small>
          </div>
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="submit(f.value)">
                <div *ngFor="let alert of alertsDismiss">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text"  id="className" placeholder="Name"  [(ngModel)]='classnameVal' name="className" class="form-control" #className="ngModel" minlength="3" maxlength="30"  required >
                      </div>
                      
                      <div *ngIf="className.touched && ! className.valid">
                              <div *ngIf="className.errors.required">
                                Name is required
                              </div>
                              <div *ngIf="className.errors.minlength">
                                  Name minimum length is
                                {{ className.errors.minlength.requiredLength }}
                              </div>
                              <div *ngIf="className.errors.maxlength">
                                  Name maximum length is
                                {{ className.errors.maxlength.requiredLength }}
                              </div>
                            </div>
                      
                    </div>
                    <div class="col-sm-6">
                      
                      
                    </div>
                  </div><!--/.row-->
                  
                  <div class="card-footer">
                    <button type="submit"  [disabled]="!f.valid"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                   <a  [routerLink]="['/academics/classlisting']" > <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button></a>
                  </div>
            </form>
        </div>
      </div><!--/.col-->
    </div>
    </div>
    </div>