<div class="animated fadeIn">

    <div class="row">
     
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Stream listing
            <div class="card-header-actions">
            <a   [routerLink]="['/academics/addstream/',classId]">
              <small class="text-muted">Add Stream</small>
            </a>
          </div>
          </div>
          
          <div class="card-body">
            <div *ngFor="let alert of alertsDismiss">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
              </div>
              
            <table class="table  table-striped">
              <thead>
                <tr>
                  <th>SNo</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let streamlisting of streamlistingData; let i = index">
                  
                  <td>{{i+1}}</td>
                  <td>{{streamlisting.name}}</td>
                  
                  
                  <td>
                    
                    <a [routerLink]="['/academics/subject/',streamlisting._id]">Subject</a>
                   </td>
                </tr>
               
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
     
    </div>
  
  