<div class="animated fadeIn">

    <div class="row">
     
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Manage Permissions
            <div class="card-header-actions">
            
          </div>
          </div>
          
          <div class="card-body">
            
            <tabset>
              <tab heading="Manager Permission">
                <label class="col-md-3 col-form-label">School</label>
              <div class="col-md-9 col-form-label">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="checkbox"   [(ngModel)]="schoolAddVal"  #schoolAdd="ngModel"   id="schoolAdd"   name="schoolAdd">
                  <label class="form-check-label" for="inline-checkbox1">Add</label>
                </div>
                
              </div>
              <label class="col-md-3 col-form-label">Account</label>
              <div class="col-md-9 col-form-label">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="checkbox"   [(ngModel)]="accountAddVal"  #accountAdd="ngModel"   id="accountAdd"   name="accountAdd">
                  <label class="form-check-label" for="inline-checkbox1">Add</label>
                </div>
                
              </div>
              <label class="col-md-3 col-form-label">Expense Category</label>
              <div class="col-md-9 col-form-label">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="checkbox"   [(ngModel)]="expenseCategoryAddVal"  #expenseCategoryAdd="ngModel"   id="expenseCategoryAdd"   name="expenseCategoryAdd">
                  <label class="form-check-label" for="inline-checkbox1">Add</label>
                </div>
                
              </div>
              <label class="col-md-3 col-form-label">Expense</label>
              <div class="col-md-9 col-form-label">
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="checkbox"   [(ngModel)]="expenseAddVal"  #expenseAdd="ngModel"   id="expenseAdd"   name="expenseAdd">
                  <label class="form-check-label" for="inline-checkbox1">Add</label>
                </div>
                
              </div>
              <div class="col-md-9 col-form-label">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              
            </div>

              </tab>
              
            </tabset>
            
          </div>
          <div class="card-footer">
           
          </div>
        </div>
      </div>
     
    </div>
   
  </div>
  