<div class="animated fadeIn">

  <div class="row">
   
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> School Listing
		  <div class="card-header-actions">
          <a  [routerLink]="['/school/add']">
            <small class="text-muted">Add School</small>
          </a>
        </div>
        </div>
		
        <div class="card-body">
          <div *ngFor="let alert of alertsDismiss">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
            </div>
          <table class="table  table-striped">
            <thead>
              <tr>
			          <th>SNo</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Amount</th>
                
                <th>Created Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let school of schoolData; let i = index">
                <td>{{i+1}}</td>
                <td>{{school.name}}</td>
                <td>{{school.email}}</td>
                
                <td>{{school.amount}}</td>
                <td>{{school.createdAt| date}}</td>
                <td><div *ngIf="school.isActive"><span class="badge badge-success">Active</span></div><div *ngIf="!school.isActive"><span class="badge badge-secondary">Inactive</span></div></td>
                <td>
                  <a [routerLink]="['/school/editSchool/',school._id]"><i class="cui-pencil icons font-xl mt-2"></i></a>
                  <i  (click)="deleteSchool(school._id,school.name)" style="cursor:pointer;" class="cui-trash icons font-xl mt-2"></i>
                  <a [routerLink]="['/school/schoolUser/'+school._id]"><i class="cui-user icons font-xl d-block mt-2"></i></a>
                  </td>
              </tr>
             
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
   
  </div>
 
</div>
