<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Add School</strong>
          <small>Form</small>
        </div>
        <div class="card-body">
		 <form #f="ngForm" (ngSubmit)="submit(f.value)">
      <div *ngFor="let alert of alertsDismiss">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
        </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text"  id="fullName" placeholder="Enter your name" ngModel name="fullName" class="form-control" #fullName="ngModel" minlength="3" maxlength="30"  required>
              </div>
			  
			  <div *ngIf="fullName.touched && ! fullName.valid">
					  <div *ngIf="fullName.errors.required">
						Name is required
					  </div>
					  <div *ngIf="fullName.errors.minlength">
						 Name minimum length is
						{{ fullName.errors.minlength.requiredLength }}
					  </div>
					  <div *ngIf="fullName.errors.maxlength">
						Name maximum length is
						{{ fullName.errors.maxlength.requiredLength }}
					  </div>
					</div>
			  
            </div>
          </div><!--/.row-->
		  <div class="row">
            <div class="form-group col-sm-6">
              <label for="ccnumber">Registration Number</label>
                <input type="text" class="form-control" id="regNo" placeholder="Enter your registration name" ngModel name="regNo"   #regNo="ngModel" required>
				<div *ngIf="regNo.touched && ! regNo.valid">
					  <div *ngIf="regNo.errors.required">
						Registration Number is required
					  </div>
					  
					</div>
            </div>
            <div class="form-group col-sm-6">
              <label for="ccnumber">Registration Date</label>
              <input class="form-control" id="regDate" type="date" name="regDate" placeholder="date"  ngModel #regDate="ngModel" required>
			  <div *ngIf="regDate.touched && ! regDate.valid">
					  <div *ngIf="regDate.errors.required">
						Registration Date is required
					  </div>
					  
					</div>
            </div>
          </div><!--/.row-->
		  <div class="row">
            <div class="form-group col-sm-6">
              <label for="phonenumber">Phone Number</label>
              <input type="text" class="form-control" id="phonenumber" placeholder="Enter your phone number"  ngModel #phonenumber="ngModel"  name="phonenumber" required>
			  <div *ngIf="phonenumber.touched && ! phonenumber.valid">
					  <div *ngIf="phonenumber.errors.required">
						Phone Number is required
					  </div>
					  
					</div>
            </div>
            <div class="form-group col-sm-6">
              <label for="city">Email Address</label>
              <input type="text" class="form-control" id="emailaddress" placeholder="Enter your email address"  ngModel #emailaddress="ngModel" required name="emailaddress">
			  <div *ngIf="emailaddress.touched && ! emailaddress.valid">
					  <div *ngIf="emailaddress.errors.required">
						Email Address is required
					  </div>
					  
					</div>
            </div>
          </div><!--/.row-->
		  <div class="row">
            <div class="form-group col-sm-6">
              <label for="street">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Enter address"  ngModel #address="ngModel" required name="address">
			  <div *ngIf="address.touched && ! address.valid">
					  <div *ngIf="address.errors.required">
						Address is required
					  </div>
					  
					</div>
            </div>
            <div class="form-group col-sm-6">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="Enter your city"  ngModel #city="ngModel" required name="city">
			  <div *ngIf="city.touched && ! city.valid">
					  <div *ngIf="city.errors.required">
						City is required
					  </div>
					  
					</div>
            </div>
          </div><!--/.row-->
          
          <div class="row">
            <div class="form-group col-sm-6">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" placeholder="Country name"  ngModel #country="ngModel" required name="country">
			<div *ngIf="country.touched && ! country.valid">
					  <div *ngIf="country.errors.required">
						Country is required
					  </div>
					  
					</div>
          </div>
		  <div class="form-group col-sm-6">
              <label for="companylogo">School logo</label><br>
              <input type="file"  accept='image/*' (change)="preview(file.files)" #file>
              <img [src]="imgURL" height="200" *ngIf="imgURL">
            </div>
        </div>
		<div class="card-footer">
          <button type="submit"  [disabled]="!f.valid"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
         <a  [routerLink]="['/school/listing']"> <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button></a>
        </div>
		</form>
      </div>
    </div><!--/.col-->
  </div>
  </div>