<div class="animated fadeIn">

  <div class="row">
   
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> School Listing
		  <div class="card-header-actions">
          <a  [routerLink]="['/school/add']">
            <small class="text-muted">Add School</small>
          </a>
        </div>
        </div>
		
        <div class="card-body">
          <table class="table  table-striped">
            <thead>
              <tr>
			    <th>SNo</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Registration No</th>
                <th>Registration Date</th>
                <th>Created Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
			    <td>1</td>
                <td>Samppa Nori</td>
                <td>Samppa Nori</td>
                
                <td>Member</td>
				<td>2012/01/01</td>
				<td>2012/01/01</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
				<td><i class="cui-pencil icons font-2xl mt-4"></i><i class="cui-trash icons font-2xl mt-4"></i><i class="cui-user-follow icons font-2xl mt-4"></i></td>
              </tr>
              
              <tr>
			    <td>2</td>
                <td>Chetan Mohamed</td>
                <td>Chetan Mohamed</td>
                
                <td>Admin</td>
				<td>2012/02/01</td>
				<td>2012/02/01</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
				<td><i class="cui-pencil icons font-2xl mt-4"></i><i class="cui-trash icons font-2xl mt-4"></i><i class="cui-user-follow icons font-2xl mt-4"></i></td>
              </tr>
             
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
   
  </div>
 
</div>
