<div class="animated fadeIn">

    <div class="row">
     
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> School Users Listing
            <div class="card-header-actions">
              <a [routerLink]="['/school/addSchoolUser/',schoolId]">Add School User</a>
          </div>
          </div>
          
          <div class="card-body">
            <div *ngFor="let alert of alertsDismiss">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
            </div>
            
          <table class="table  table-striped">
            <thead>
              <tr>
			          <th>SNo</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>UserType</th>
                <th>Created Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let school of schoolData; let i = index">
                <td>{{i+1}}</td>
                <td>{{school.firstName}} {{school.lastName}}</td>
                <td>{{school.emailaddress}}</td>
                <td><div *ngIf="school.usertype==1">Accountant</div><div *ngIf="school.usertype==2">Academic</div><div *ngIf="school.usertype==3">Administrator</div><div *ngIf="school.usertype==4">Secretaty</div></td>
                <td>{{school.createdAt| date}}</td>
                
                <td><div *ngIf="school.isActive"><span class="badge badge-success">Active</span></div><div *ngIf="!school.isActive"><span class="badge badge-secondary">Inactive</span></div></td>
                <td><a [routerLink]="['/school/editschoolUser/'+schoolId+'/'+school._id]"><i class="cui-pencil icons font-xl mt-2"></i></a><i  (click)="deleteSchoolUser(school._id)" style="cursor:pointer;" class="cui-trash icons font-xl mt-2"></i>
                 </td>
              </tr>
             
            </tbody>
          </table>
            
          </div>
        </div>
      </div>
     
    </div>
   
  </div>
  